body {
    background-color: rgb(234, 233, 238);
}

.carousel-inner img {
    padding-top: 72px;
}

.carousel-caption {
    position: absolute;
    top: 30%;
    left: 30%;
    max-width: 500px;
    height: 200px;
}

.footer-item {
    height: 400px;

}

.fa-brands {
    padding: 20px;
    font-size: 40px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}