body {
    background-color: rgb(151, 141, 214);
}

.carousel-inner img {
    padding-top: 72px;
}

.carousel-caption {
    color: white;
    right: 30%;
    text-align: center;
    max-width: 500px;
    padding-bottom: 250px;
    left: auto;
    top: auto;
}

/* .course-heading {
    left: 50%;
    width: 500px;
} */