body {
    background-color: rgb(234, 233, 238);
}

.carousel-inner img {
    padding-top: 72px;
}

.carousel-caption {
    position: absolute;
    top: 30%;
    left: 30%;
    width: 500px;
    height: 200px;
}